.spørreundersøkelserad {
    margin-top: 1rem;

    & > div {
        z-index: calc(var(--avstand-fra-siste, 0) + 5);
    }

    .styledExpansionCardHeader {
        z-index: 1;
        min-height: 82px;

        & > div {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            flex-grow: 1;
            flex-wrap: wrap;
        }

        .kartleggingStatusWrapper {
            min-width: 5rem;
        }
    }
}

.styledEmptyCardHeader {
    width: 100%;
    min-height: 82px;
    gap: var(--a-spacing-4);
    padding: var(--__ac-expansioncard-padding-block)
        var(--__ac-expansioncard-padding-inline);
    padding-right: 5.5rem;
    border-radius: var(--__ac-expansioncard-border-radius);
    background-color: var(
        --ac-expansioncard-header-bg,
        var(--a-surface-transparent)
    );
    position: relative;
    border: var(--__ac-expansioncard-border-width) solid
        var(--__ac-expansioncard-border-color);
    flex-wrap: wrap;

    .tittelUtenTopMargin {
        margin-top: 0;
    }
}

.headerLeftContent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-self: center;
    font-size: 1rem;

    h3 {
        margin-top: 0;
        margin-right: 2rem;
    }
}

.headerRightContent {
    display: flex;
    align-items: center;
    font-size: 1rem;
    align-self: center;
    flex-wrap: wrap;

    .datovisning {
        margin-right: 1rem;
    }
}
.infolinje {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: left;
    font-size: 1rem;
}

.ingenTilgjengeligeSpørreundersøkelser {
    margin-top: 1rem;
}
