@use "../../styling/contentSpacing.scss" as spacing;

.virksomhetsTabs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .virksomhetsvisning {
        flex-grow: 1;
    
        background-color: var(--a-white);
    
        .samarbeidsvelgerSidebar {
            width: 16rem;
            max-width: 16rem;
            flex-shrink: 0;
        }
    
        .innhold {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            background-color: var(--a-gray-100);
    
            .blåTing {
                background-color: var(--a-blue-100);
                padding: 1rem 1.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .tittel {
                    color: var(--a-blue-800);
                    font-weight: var(--a-font-weight-bold);
                }
            }
        }
    }
}
