body {
  margin: 0;
  padding: 0;
  background-color: var(--a-bg-subtle);
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

p {
  max-width: 60em;
}

/* Reset default margin for description elements in description lists. */
dd {
  margin-left: 0;
}

/*
 * Gjev secondary-knapp frå designsystemet kvit bakgrunn
 * slik at vi får betre kontrast når den vert brukt på saman med "background-subtle"
 */
.navds-button.navds-button--secondary {
  background: var(--a-bg-default) /* "white" i designsystemet 2023-11-29 */
}
