body {
  margin: 0;
  padding: 0;
  background-color: var(--a-bg-subtle);
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

p {
  max-width: 60em;
}

/* Reset default margin for description elements in description lists. */
dd {
  margin-left: 0;
}
