@use "../../../styling/containere" as containere;

.virksomhetOgSamarbeidsHeader {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: var(--ax-bg-default);
    padding: 2rem;
    border: 1px solid var(--ax-border-neutral-subtle);
    z-index: 20;
    box-shadow: var(--ax-shadow-dialog);
    @include containere.hvitBoksMedBorder;

    .salesforceLenke {
        font-size: 1.125rem;
    }

    .detaljknapp {
        --ax-font-weight-bold: 400;
    }

    --ax-font-size-medium: 1.125rem;
    .tabButton {
        // Override default styles fra tab
        --ax-font-weight-bold: 400;
        --ax-space-4: 0.5rem;
    }
}

.duErPåGammelPeriodeBanner {
    background-color: var(--ax-neutral-400);
    padding: 1rem 1.5rem;
}

.virksomhetsinfoPopoverInnhold {
    display: grid;
    grid-template-columns: 1fr min-content;
    row-gap: 0.5rem;
    column-gap: 1.5rem;

    .infoTittel {
        font-weight: bold;
        grid-column-start: 0;
        grid-column-end: 1;
    }
    .infoData {
        grid-column-start: 1;
        max-width: 26rem;
    }
    .tittelMedHelpTextContainer {
        font-weight: bold;
        grid-column-start: 0;
        grid-column-end: 1;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}
