@use "../../../styling/_containere.scss" as containere;

.medEllipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.samarbeidGrid {
    display: grid;
    grid-template-columns: minmax(auto, 20rem) minmax(auto, 8rem) minmax(
            auto,
            8rem
        );
    gap: 0.5rem 1.5rem;
    padding-bottom: 2rem;

    &.kompakt {
        grid-template-columns: minmax(auto, 10rem) auto auto;
        padding-bottom: none;
    }
}

.samarbeidrad {
    display: contents;
}

.samarbeidshistorikkfaneContainer {
    @include containere.tabInnholdStyling;

    .accordionHeaderContent {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}
