@use "../../../Virksomhet/Samarbeid/samarbeidModal.scss" as modal;

.endreSamarbeidsnavnModal {
	@include modal.samarbeidModal;

	.textField {
		margin-top: 1rem;
		margin-bottom: 0.5rem;

		@include modal.textFieldStyled;
	}

	.detaljer {
		@include modal.detaljerWrapper;
	}

	.lagreKnapp {
		min-width: 14rem;
		text-align: center;
	}

	.lagreVellykketAlert {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.warningAlert, .errorAlert {
	margin-top: 1rem;
}