@use "../../styling/breakpoints" as br;

.temaContainer {
    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    justify-items: stretch;
    width: 100%;
    padding-bottom: 4rem;
    gap: 2rem;

    @media screen and (max-width: br.$tablet) {
        grid-template-columns: 1fr;
    }

    .temaGrafContainer {
        border: 1px solid var(--a-gray-300);
        border-radius: var(--a-border-radius-large);
        grid-column: span 1;
        padding: 2rem;

        .kategoriTittel {
            color: var(--a-blue-500);
            margin-left: 10px;
            margin-bottom: 0.5rem;
        }

        .tekstvisning {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
}
.grafTabellBryter {
    margin-left: auto;
    margin-right: 1rem;
}

.antallDeltakere {
    color: var(--a-blue-500);
    font-size: 1.25rem;
    gap: 1rem;
    margin-right: 2rem;
}

.resultatvisning {
    padding-top: 1rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
