.statusBadge {
    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:active {
        text-decoration: none;
    }

    .statusTag {
        width: fit-content;
        height: fit-content;
        min-width: fit-content;
        text-wrap: nowrap;
    }
}
