.tematittel {
    margin-top: 1rem;
}

.spørsmålsgruppe {
    padding: 1rem;
}

.kategoriheader {
    margin-bottom: 1rem;
}

.kategoritittel {
    color: var(--ax-accent-600);
    margin-bottom: 0.25rem;
}

.kategorimål {
    color: var(--ax-text-neutral-subtle);
}

.accordionHeader {
    color: var(--ax-accent-600);
    --ax-font-weight-bold: 400;
}

.accordionItem {
    &:last-child > :where(:global(.aksel-accordion__header)) {
        box-shadow:
            var(--__ac-accordion-header-shadow),
            inset 0 0 0 0 var(--__ac-accordion-header-shadow-color);
    }
}

.disabledCheckbox,
.disabledRadio {
    pointer-events: none;
    opacity: 1;

    label::before {
        opacity: 0.5;
    }
}
