.styledFooter {
    background-color: var(--ax-accent-200);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 4rem;
    font-size: 1rem;

    .sykefraværsstatistikkknapp {
        --ax-text-subtle: var(--ax-accent-800);
        --ax-font-weight-bold: 400;
        --ax-bg-moderate-hoverA: var(--ax-bg-accent-strong-pressed);
        &:hover {
            color: var(--ax-bg-default);
        }
        padding: 0.25rem;
    }

    .styledPopover {
        .popoverContentMedMaxWidth {
            max-width: 30rem;
        }
    }

    .footerlenke {
        --ax-text-subtle: var(--ax-accent-800);
    }
}
