.innholdsblokk {
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr 1fr 8rem;

    .labelRad {
        grid-column: 1/5;
        display: grid;
        grid-template-columns: subgrid;
        padding-bottom: 0.5rem;
        font-weight: 600;

        .innholdLabel {
            grid-column: 2/3;
        }

        .varighetLabel {
            grid-column: 3/4;
        }

        .statusLabel {
            grid-column: 4/5;
        }
    }

    .innholdRad {
        grid-column: 1/5;
        display: grid;
        grid-template-columns: subgrid;

        &[data-expanded="true"] > .statusSelectContainer:after,
        &:not(:last-child) > .statusSelectContainer:after,
        &[data-expanded="false"]:has(
                .statusSelectContainer:where(:hover, :focus-visible)
            )
            + &
            > .statusSelectContainer:before {
            display: none;
        }

        .innholdsradheader {
            grid-column: 1/4;
            display: grid;
            grid-template-columns: subgrid;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            :global(.aksel-heading) {
                grid-column: 2/5;
                display: grid;
                grid-template-columns: subgrid;
            }

            &:hover {
                text-decoration: none;
                .innholdstittel {
                    text-decoration: underline;
                }
            }
        }

        .statusSelectContainer {
            grid-column: 4/5;
            display: grid;
            position: relative;
            grid-template-columns: subgrid;
            align-items: center;
            justify-content: center;
            --__ac-accordion-header-shadow:
                inset 2px 0 0 0 transparent, inset -2px 0 0 0 transparent,
                inset 0 2px 0 0 var(--__ac-accordion-header-shadow-color);
            padding-right: var(--ax-space-12);
            border-top-right-radius: var(--ax-radius-8);
            border-bottom-right-radius: var(--ax-radius-8);

            &:before,
            &:after {
                content: "";
                background-color: var(--ax-border-neutral-subtleA);
                width: 100%;
                height: 1px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }

            &::after {
                top: initial;
                bottom: 0;
            }

            .ikkeredigerbarStatus {
                font-weight: 600;
            }
        }

        .målContainer {
            grid-column: 1/5;
        }

        &:last-child {
            .statusSelectContainer {
                box-shadow:
                    inset 0 -2px 0 0 var(--__ac-accordion-header-shadow-color),
                    var(--__ac-accordion-header-shadow);
            }
        }
        &:not(:last-child) {
            .statusSelectContainer {
                box-shadow: var(--__ac-accordion-header-shadow);
            }
        }

        &:has(.innholdsradheader:hover) {
            .statusSelectContainer {
                background-color: var(
                    --ax-bg-moderate-hoverA,
                    var(--ax-bg-neutral-moderate-hoverA)
                );
            }
        }
    }
}
