@mixin hvitBoksMedBorder {
    background-color: white;
    border-radius: var(--ax-radius-8);
    border: 1px solid var(--ax-border-neutral-subtle);
}

@mixin tabInnholdStyling {
    padding: 1.5rem;
    background: white;
    border-radius: var(--ax-radius-8);
    border: 1px solid var(--ax-border-neutral-subtle);
}

@mixin max75remBreddeOgSentrert {
    width: clamp(0px, 100%, 75rem);
    margin-left: auto;
    margin-right: auto;
}

@mixin sideContainer {
    padding: 1.5rem 0;

    @include max75remBreddeOgSentrert;
}
