@use "../../styling/contentSpacing" as cs;

/*
 * "Scroll innhald heilt ut til kanten av forelderen-boks"
 *
 * Laga etter mønster frå Josh W Comeau
 * Originalt laga av Ingrid
 * Konvertert fra styled-components til scss av Sverre
 */

/**
 * Komponent som let deg scrolle innhald horisontalt på eit breiare område enn forelderen sin margin/padding eigentleg tillet.
 *
 * Input:
 *    - offsetLeft, offsetRight – (rem) Avstanden på høgre og venstre side som du vil bruke til å vise scrollbart innhald.
 *        Du finn desse ved å måle avstanden frå innhaldet og ut til breidda av forelderen i ein nettlesar.
 *    - paddingY – ekstra-padding som skal leggjast til over og under komponenten, til dømes for å vise skuggar.
 *
 * Komponenten er tenkt til å liggje rundt eitt (1) anna element om gongen.
 *
 * */

.scrollUtTilKantenContainer {
    overflow-x: auto;

    /* Vi strekk komponenten heilt ut til venstre kant med margin, 
	 * og dyttar innhaldet tilbake til startpunktet med padding */
    margin-left: calc(
        calc(-1 * cs.$contentSpacingMobileX) +
            calc(-1 * var(--scroll-ut-til-kanten-offset-left, 0rem))
    );
    padding-left: calc(
        cs.$contentSpacingMobileX +
            var(--scroll-ut-til-kanten-offset-left, 0rem)
    );

    margin-right: calc(
        calc(-1 * cs.$contentSpacingMobileX) +
            calc(-1 * var(--scroll-ut-til-kanten-offset-right, 0rem))
    );
    padding-right: calc(
        cs.$contentSpacingMobileX +
            var(--scroll-ut-til-kanten-offset-right, 0rem)
    );

    // For at div-en ikkje skal kutte skuggar har vi lagt på 24px "minus-margin-plus-padding".
    // Den største skuggen i designsystemet per 2023-12-19 er 24px, difor er denne verdien brukt.
    margin-top: -24px;
    padding-top: 24px;
    margin-bottom: -24px;
    padding-bottom: 24px;

    /* Firefox har per 2023-12-15 ein bug som gjer at padding ikkje vert inkludert i den utrekna breidda av element,
   * til trass for at ein bruker border-box som boksmodell. 
   * Den fyrste registreringa av buggen er frå 2012: https://bugzilla.mozilla.org/show_bug.cgi?id=748518. 
   *
   * Koden under retter fiksar oppførselen ved å leggje inn eit usynleg :after-element med paddingbreidda 
   * etter det siste bornet til komponenten. 
   * 
   * Dette er reint pirk, brukarane av Fia brukar per 2023 Chrome eller Edge. 
   * Sidan eg sjølv testar i Firefox syntes eg dette var ei spanande utfordring å løyse.
   */
    @-moz-document url-prefix() {
        display: flex; // viser innhaldet som ei flex-rad.

        & > *::after {
            content: "";
            width: var(--scroll-ut-til-kanten-offset-right, 0rem);
            visibility: hidden;
        }
    }
}
