@use "../styling/containere" as containere;

.styledTable {
    background-color: white;
    border: 1px solid var(--ax-border-neutral-subtle);
    border-radius: var(--ax-radius-4);
}

.lastespinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.samarbeidsfanemenyHeading {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--ax-text-neutral);
    padding-right: 2rem;
    margin-bottom: 0.25rem;
}

.spinner {
    animation: spin 1s linear infinite;
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.animertBurger {
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);

    &.open {
        transform: rotate(180deg);
    }
}

.styledLåsbarCheckbox {
    :global(.aksel-checkbox__label) {
        :global(.aksel-checkbox__content) {
            :global(.aksel-checkbox__label-text) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.sidecontainer {
    @include containere.sideContainer;
}
