@use "../../../styling/containere" as containere;
@use "../../../styling/breakpoints" as bp;

.tallinput {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
        margin-right: 1rem;
    }
    input {
        width: 5rem;
    }
}

.fraTilFieldset {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.filtervisningForm {
    padding: 1rem;

    @include containere.hvitBoksMedSkygge;

    .rad {
        display: flex;
        column-gap: 3rem;
        row-gap: calc(24ewm / 16);
        flex-wrap: wrap;
        flex-direction: column;

        @include bp.tabletAndUp {
            flex-direction: row;
            align-items: start;
        }

        .knappewrapper {
            align-self: end;
            margin-left: auto;

            display: flex;
            gap: 1.5rem;

            height: fit-content;

            .søkeknapp {
                width: 10rem;
            }
        }
    }
}
